<hr>
<div align="center">
	<footer class="footer">
		<p>Altyapı: <a href="https://discord.gg/3s4XBPf">sonmeztv</a> | Düzenleme: <%= bot.users.get(bot.config.ownerID).tag %> | <a href="#top">Üste Çık</a></p>
	</footer>
</div>